@font-face {
    font-family: chopin;
    src: url('spritemaker/ChopinScript.ttf');
}
.center_container{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    /* align-items: center; */
    display: flex;
    overflow-y: scroll;
}
.app_container{
    width:600px;
    position:fixed;
    top:100px;
    left:25%;
    margin:auto;
    display:grid;
    grid-template-rows: 100px 50px auto;
    grid-template-columns: auto auto;
    grid-template-areas: "title title"
                         "spritesheet_tabs spritesheet_tabs"
                         "ui canvas";
}
.grid_holder{
    display:grid;
    position:fixed;
}
.grid_holder:hover{
    background-color: blue;
}
.grid_div{
    /* border:1px dashed #535889ff;
    border-left:none;
    border-top:none; */
    /* background-color: blue; */
    z-index:10;

}
.grid_div:hover{
    background-color: #ffffff55;
    /* display:none; */
    /* width:200px; */
}
#title{
    font-family: stepchild_cursive;
    grid-area:title;
    font-size:100px;
    width:200px;
    image-rendering: pixelated;
}
.ui_container{
    display: block;
    grid-area: ui;
    /* width:100%; */
    /* margin-top:100px; */
    height:fit-content;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
}
.button{
    white-space: pre;
    color:black;
    background-color:transparent;
    width:fit-content;
    display:block;
    cursor:pointer;
    border-radius: 10px;
    border:1px solid;
    margin:2px;
    padding:4px;
    transition:0.25s;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    align-content: center;
}
.button:hover{
    background-color:#0000ff;
    color:#ffffff;
}
.spritesheet_tabs{
    grid-area: spritesheet_tabs;
    display:flex;
    height:fit-content;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
}
.spritesheet_tab:hover{
    box-shadow:2px -2px 2px rgb(0, 42, 255);
    cursor:pointer;
    
}

.delete_button{
    visibility:hidden;
    white-space: pre;
    color:black;
    background-color:transparent;
    width:fit-content;
    display:block;
    cursor:pointer;
    border-radius: 10px;
    border:1px solid;
    padding:2px;
    margin:4px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    align-content: center;
}
.delete_button:hover{
    background-color:blue;
    color:white;
}
.spritesheet_tab:hover .delete_button{
    visibility:visible;
};
.dimension_input{
    white-space: pre;
    color:black;
    background-color:transparent;
    width:fit-content;
    height:25px;
    display:block;
    cursor:pointer;
    border-radius: 10px;
    border:1px solid;
    margin:2px;
    padding:4px;
    padding-top:0;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
    transition:0.25s;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.dimension_input:hover{
    background-color:#0000ff;
    color:#ffffff;
}
#pixel_canvas{
    grid-area:canvas;
    display:block;
    pointer-events: auto; 
    box-shadow:1px 1px 100px rgb(0, 225, 255);
}
.preview_canvas{
    border:4px solid black;
    margin:1px;
}
/* file dropper */
#drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    padding: 1em;
    margin:10px;
    border: 1px solid rgb(113, 136, 0);
    border-radius: 4px;
    color: rgb(113, 136, 0);
    background-color: beige;
    cursor: pointer;
    transition:0.1s;
}
#drop-zone:hover{
    background-color:blue;
}