@font-face {
    font-family: chopin;
    src: url('/ChopinScript.ttf');
}
@font-face {
    font-family: pixel_cursive;
    src: url('/stepchild_cursive.ttf');
}

.center_container{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    display: flex;
}

.app_container{
    overflow-y: scroll;
    width:100%;
    height:100%;
    position:relative;
    display:grid;
    grid-template-rows: 200px max-content max-content;
    grid-template-columns: max-content fit-content(500px) 350px;
    grid-template-areas: "title null none"
                         "spritesheet_tabs null none"
                         "ui canvas downloadlinks"
                         "about about about";
}

#title_container{
    width:fit-content;
    margin:auto;
    position:relative;
    /* padding-top:80px;
    padding-left:75px; */
    grid-area:title;
    image-rendering: pixelated;
}
.grid_holder{
    display:grid;
    position:fixed;
}
.grid_holder:hover{
    background-color: blue;
}
.grid_div{
    border:1px dashed #535889ff;
    border-left:none;
    border-top:none;
}
.title_gif{
    position:absolute;
    image-rendering:pixelated;
    width:60px;
    grid-area:title;
}

.ui_container{
    padding-left:80px;
    display: block;
    grid-area: ui;
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    width:fit-content;
    height:fit-content;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
}
.button_holder{
    display:flex;
}
.button{
    white-space: pre;
    color:black;
    width:fit-content;
    display:block;
    position:relative;
    cursor:pointer;
    border-radius: 10px;
    border:1px solid;
    margin:2px;
    padding:4px;
    transition:0.1s;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.button:hover{
    background-color:blue;
    color:yellow;
    border: 1px solid blue;
}
.tool_icon{
    image-rendering: pixelated;
    width:20px;
    height:20px;
    mix-blend-mode:difference;
    position:relative;
}
.spritesheet_tabs_container{
    grid-area: spritesheet_tabs;
    display:flex;
    height:fit-content;
    max-width:260px;
    /* width: */
    flex-wrap: wrap;
    padding-top:4px;
    padding-left:80px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
    overflow-x:scroll;
}
.spritesheet_tab{
    transition:0.1s;
    margin-top:-4px;
    border:1px dashed transparent;
    background-color: transparent;
}
.spritesheet_tab:hover{
    /* box-shadow:2px -2px 2px rgb(0, 42, 255); */
    cursor:pointer;
    border:1px dashed red;
    background-color: white;
    /* color:white; */
}

.delete_button{
    visibility:hidden;
    white-space: pre;
    color:black;
    background-color:transparent;
    width:fit-content;
    display:block;
    cursor:pointer;
    border-radius: 10px;
    border:1px solid;
    padding:2px;
    margin-left:2px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    align-content: center;
}
.delete_button:hover{
    background-color:blue;
    color:white;
}
.spritesheet_tab:hover .delete_button{
    visibility:visible;
};

.colorpicker .react-colorful__hue-pointer,
.colorpicker .react-colorful__saturation-pointer,
.colorpicker .react-colorful__alpha-pointer {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border:1px solid white;
}

.colorpicker_label{
    visibility: visible;
    writing-mode: sideways-lr;
    color:white;
    font-weight: bold;
}

.dimension_input{
    white-space: pre;
    color:black;
    background-color:transparent;
    width:fit-content;
    height:25px;
    display:block;
    cursor:pointer;
    border-radius: 10px;
    border:1px solid;
    margin:2px;
    padding:4px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0;
    margin-bottom:0;
    transition:0.25s;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.dimension_input:hover{
    background-color:#0000ff;
    color:#ffffff;
}
#canvas_border{
    display:grid;
    position:fixed;
    image-rendering: pixelated;
}
.transparent_img_drop_shadow{
    filter:drop-shadow(4px 4px 2px #46788b);
}
.preview_canvas{
    border:4px solid black;
    margin:1px;
    border-radius:10px;
    transition:0.1s;
}
.preview_canvas:hover{
    filter:brightness(0.4);
}
.preview_canvas_holder .button{
    visibility:hidden;
    background-color: black;
    color:white;
    transition:0.1s;
}
.preview_canvas_holder .button:hover{
    /* visibility:hidden; */
    background-color: red;
}
.preview_canvas_holder:hover .button{
    visibility:visible;
}
/* file dropper */
#drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 1em;
    margin:10px;
    border: 1px dashed rgb(113, 136, 0);
    border-radius: 4px;
    color: rgb(113, 136, 0);
    background-color: beige;
    cursor: pointer;
    transition:0.1s;
}
#drop-zone:hover{
    background-color:blue;
    border: 1px solid rgb(113, 136, 0);
}

#download_link_container{
    grid-area:downloadlinks;
    height:fit-content;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
    margin:auto;
    margin-top:0;
    margin-left:80px;
}

.download_link:focus{
    background-color:black;
    color:white;
    /* color: purple; Or any other desired color value */
}

#canvas_container_container{
    position:relative;
    grid-area:canvas;
    width:fit-content;
    height:fit-content;
    margin:60px auto;
}

#about{
    grid-area:about;
    padding-left:80px;
    display: block;
    margin-bottom:20px;
    /* margin:auto; */
    margin-top: 60px;
    width:fit-content;
    height:fit-content;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
}

@media all and (max-width: 700px) {
    .app_container{
        overflow-y: scroll;
        width:100%;
        margin:auto;
        height:100%;
        position:relative;
        display:grid;
        grid-template-rows: 200px max-content max-content max-content max-content;
        grid-template-columns: 100%;
        grid-template-areas: "title"
                            "spritesheet_tabs"
                            "canvas"
                            "ui"
                            "downloadlinks"
                            "about";
    }
    .ui_container{
        padding-left: 0;
        margin:auto;
    }
    #download_link_container{
        padding-left: 0;
        margin:auto;
    }
    .spritesheet_tabs_container{
        padding-left: 0;
        padding-bottom:20px;
        width:fit-content;
        margin:auto;
    }
    #main_canvas{
        touch-action: pinch-zoom;
    }
}